body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: whitesmoke;
    color: #202020;
}

hr {
    background-color: dodgerblue;
}

p {
    font-size: larger;
}

.head-title {
    font-size: x-large;
    font-weight: bolder;
}

.head-subtitle {
    font-size: large;
    font-weight: bolder;
}

main {
    flex: 1;
}

.email {
    color: lightslategray;
}

.email:hover {
    color: dodgerblue;
}

#myfooter {
    max-height: 180px;
}

.images {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    max-width: 50%;
    height: auto;
}

h1 {
    padding-top: 3rem;
}

.dark-mode {
    background-color: #202020;
    color: whitesmoke;
}

.link {
    color: cornflowerblue;
}

.link:hover {
    color: rgb(16, 129, 194);
}
